<div id="phlabsnav2">
	<div id="phlabsnav2_inner">
			<ul> 
				<li id="li_about"><a href="/">ABOUT</a></li>
				<li id="li_projects"><a href="phlabsprojects.html">PROJECTS</a></li>
				<li id="li_community"><a href="phlabscommunity.html">COMMUNITY</a></li>
				<!-- <li id="li_academics"><a href="phoebefrance.net/index.html">ACADEMICS</a></li> -->
				<!-- <li id="li_resume"><a href="_docs/phoebefrance_phlabs_resume.pdf">RESUME</a></li> -->
			</ul> 

	</div><!-- end nav2_inner -->
</div><!-- end nav2 -->